<!doctype html>
<html>
<body>
  <p> LOGIN </p>
  <form action="/login" method="POST">
    <input type="text" name="email">
    <input type="passport" name="password">
    <button type="submit">SUBMIT</button> 
  </form>

</body>
</html>
