Skip to content
This repository
Search
Pull requests
Issues
Gist
 @EddieWilkie
 Unwatch 6
  Star 0
  Fork 0 bartoszl/FindingMomo
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs
Branch: develop Find file Copy pathFindingMomo/public/stylesheets/theme.css
f71cd3f  an hour ago
@jtax jtax Merged Jon
1 contributor
RawBlameHistory    95 lines (84 sloc)  1.48 KB
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
html, body{
    background-color:#ecf0f1;
    height: 100%;
}
*{
    font-family: "Open Sans";
    margin:0;
}

.headerbar{
    background-color: #2c3e50;
    height: 7%;
    padding-left: 20px;
    padding-top: 10px;
    color: white;

}

.descSpace{
    background-color: #34495e;
    width: 30%;
    height: 93%;
    display: inline-block;
    color: white;
    vertical-align: top;
}

.rightSpace{
    border-left: 1px solid #2c3e50;
    background-color: #ecf0f1;
    color: white;
    width: 14.9%;
    height: 93%;
    display: inline-block;
    vertical-align: top;
}
.rightSpace table{
    width: 90%;
}
.rightSpace td,.rightSpace th{
    text-align: right;
}

.commSpace{
    background-color: #ecf0f1;
    color: white;
    width: 55%;
    height: 93%;
    display: inline-block;
    vertical-align: top;
}


.chatItem p{
    width: 66%;
    padding: 10px 2%;
    background-color: #c0392b;
    display: inline-block;

}

.chatItem img{
    width: 10%;
    padding: 5%;
    vertical-align: middle;
    display: inline-block;
}

.chatItem{
    width: 100%;
    padding: 0 5%;
}

.chatItems{
    height: 90%;
}
.textInput{
    height:10%;
    padding: 0 10%;
}
.textInput input[type=text]{
    -webkit-appearance: none;
    width: 70%;
    height: 3em;
    border: none;
}
.textInput input[type=submit]{
    -webkit-appearance: none;
    background-color: #c0392b;
    color: white;
    height: 3em;
    border: none;
    width: 30%;
}
Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
