@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Nunito);
body{
    background-color:#ecf0f1;
	margin: 0px;
}

#header{
	font-size: 2.1em;
	display: inline	
}

#subHeader{
	font-family: "Nunito";
	font-size: 0.85em;
}

#descHeader{
	margin-bottom: 0px;
	margin-top: 10px;
	margin-left: 40px;
	font-size: 1em;
	
}

#descBody{
	text-align: justify;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 5px;
	font-size: 0.9em;
}

.headerbar{
	font-family: "Nunito";
    background-color: #2c3e50;
    height: 3.5em;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
	height :7%;

}

.descSpace{
	font-family: "Open Sans";
    margin:0;
    float:left;
    background-color: #34495e;
    width: 30%;
    height: 100%;
    display: inline-block;
    color: white;
    vertical-align: top;
}

.commSpace{
    background-color: #ecf0f1;
    color: white;
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}


.chatItem p{
    width: 66%;
    padding: 10px 2%;
    background-color: #c0392b;
    display: inline-block;

}

.chatItem img{
    width: 10%;
    padding: 5%;
    vertical-align: middle;
    display: inline-block;
}

.chatItem{
    width: 100%;
    padding: 0 5%;
}